<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	@Scripts.Render("~/bundles/jquery")
	@Styles.Render("~/bundles/bootstrap")
	@Styles.Render("~/bundles/css")
	@Styles.Render("~/bundles/font-awesome.css")
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<title>@ViewBag.Title</title>
</head>
<body>
	<header class="text-center">@ViewBag.Title</header>
	<div class="content-container row">
		<div class="col-sm-1"></div>
		<div class="content-holder col-sm-10 col-12">
			<div class="content-render">
				TODO: Style me.....
				@RenderBody()
				<br />
				<div id="musicalString" class="mainHolder mx-auto">
					A <span id="genre">____</span> style interpretation of<span id="storyType"></span> <span id="story">____________</span>
				</div>
				<span id="makeMusicalString" class="btn-musical-string text-center">
					Make a musical!
				</span>
			</div>
		</div>
	</div>
	<footer>
		@Html.ActionLink("To free yourself from this relentless purgatory, click here to return to a better time......", "Index", "Home")
	</footer>
	@Scripts.Render("~/bundles/homejs")
	<script>

		(function (helper) {
			$(function () {
				helper.onready();
			});
		})(errorHelper);
	</script>
</body>
</html>
