<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-126098967-1');
	</script>

	<title>@ViewBag.Title</title>
	@Styles.Render("~/bundles/bootstrap")
	@Styles.Render("~/bundles/font-awesome")
	@Styles.Render("~/bundles/css")
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
	@Html.Partial("_Header")
	<div class="row layout-gradient pt-1">
		<div class="d-none d-sm-block col-sm-2"></div>
		<div class="layout-content-color col-sm-8 col-12 pt-1 pb-1">
			@RenderBody()
		</div>
	</div>

	@Html.Partial("_Footer")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrapjs")
	@Scripts.Render("~/bundles/popperjs")
	@Scripts.Render("~/bundles/sitejs")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/fonts")
	@RenderSection("pagescripts", required: false)
</body>
</html>
